<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BookArena - Library Manager</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body ng-app="bookArenaApp">
        <div ng-controller="RootCtrl">
            <div data-cd-navigation></div>
            <div class="row">
                <div class="small-3 large-3 columns">
                    <div data-cd-side-navigation></div>
                </div>
                <div class="small-9 large-9 columns">
                    <div class="body-content">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>

        @Scripts.Render("~/bundles/library")
        @Scripts.Render("~/bundles/app")
    </body>
</html>